.titulo-casa {
    background-color: #00C4B4;
    color:rgb(255, 255, 255)
}

.titulo-moda {
    background-color: #BB86FC;
    color:rgb(255, 255, 255)
}

.produtos-casa  {
    background-color: #424250;
    color: rgb(255, 255, 255)
}

.produtos-moda  {
    background-color: #424250;
    color: rgb(255, 255, 255)
}